name: Docker Build and Push to GHCR

on:
  # Trigger on pull requests and pushes to specific branches
  pull_request:
    branches: [ production, test ]
  push:
    branches: [ production, test ]
  # Add workflow dispatch for manual triggers
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'test'

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Set Docker tag based on branch
        id: set-tag
        run: |
          if [[ ${{ github.event.inputs.branch || github.ref_name }} == 'production' ]]; then
            echo "TAG=latest" >> $GITHUB_OUTPUT
          else
            echo "TAG=test" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/ninanor/hunngaupejakt:${{ steps.set-tag.outputs.TAG }}
